<!DOCTYPE html>
<html ng-app="chedMakerApp">
    <head>
        <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="../app/controllers/names-controller.js"></script>
        <title>Main</title>
    </head>
    <body>
        <div ng-controller="NamesController">
            <h1><!--TODO: Come up with a better title -->The Ched Maker</h1>
            <p>{{ name }}</p>
            <input type="submit" value="Generate" ng-click="generate()" />
        </div>
    </body>
</html>